body
{
  background: #1A4A5A !important;
}
.contenido
{
  padding-top: 50px;
  padding-bottom: 60px;
}
/*Mi Perfil*/
.user-header
{
    padding-top: 10px;
}
.my-profile-header
{
    text-align: center;
    color: aqua;

}
.profile-photo
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.file-selector
{
  display: none;
}
.file-selector-label
{
  position: relative;
  display: flex;
  margin-left: 50%;
  bottom: 25px;
}
.my-profile-body
{
    text-align: center;
    color: aqua;
}
/*Mi Perfil*/

/*Notas*/
.container-notes
{
    background: #0F2C40;
    position: relative;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}
.add-notes-header
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: aqua;
}
#nota_in, #edit_nota_in
{
    width: 100%;
    background: #1A4A5A;
    color: aqua;
    border: none;
    border-radius: 10px;
    margin-top: 10px;

}
.notes-items
{
  margin: 5px;
  padding: 5px;
  background: #0F2C40 !important;
  color: aqua !important;
}
.card-time
{
  position: relative;
  padding-right: 10px;
}
.card-menu
{
  right: 0px;
  border: solid aqua !important;
  background-color: #0F2C40 !important;
}
.card-menu-item
{
  color: aqua !important;
}
.edit-notes
{
  padding-top: 10px;
}
/*Notas*/

/*tareas*/
.container-tasks
{
    background: #0F2C40;
    position: relative;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}
.add-task
{
  padding-top: 5px;
}
.info-title
{
  position: absolute;
  right: 15px;
  top: 0px;
}
.add-task-header
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: aqua;
    padding-top: 10px;
}
/*tareas*/

/*listas*/
.container-lists
{
   background: #0F2C40;
   position: relative;
   text-align: center;
   border-radius: 0px 0px 10px 10px;
   padding-bottom: 10px;
}
.add-list-header
{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: large;
  text-align: center;
  color: aqua;
  padding-top: 10px;
}
.list-title
{
  width: 100%;
  background: #0f2c40;
  color: aqua;
  text-align: center;
  border-radius: 10px;
  margin-top: 5px;
  font-size: large;
  font-weight: bold;
}
.list-items
{
  margin: 5px;
  padding: 5px;
  background: #0F2C40 !important;
  color: aqua !important;
}
.add-item-options
{
  margin-top: 10px;
}
.accordion-item
{
   background: #1A4A5A !important;
   border: none !important;
   margin-top: 5px;
}
.accordion-button
{
  background: #0F2C40 !important;
  color: aqua !important;
  box-shadow: none !important;
}
.card-comment
{
   position: absolute;
   padding-top: 30px;
   padding-left: 30px;
}
/*listas*/

/*modals*/
.swal-modal
{
    background: #0F2C40;
    border: solid aqua;
    border-radius: 10px;
}
.swal-icon
{
  display: none;
}
.swal-title, .swal-text
{
    color: aqua;
    font-size: medium;
}
.swal-button
{
    color: aqua !important;
    background: transparent !important;
}
.swal-button:focus
{
   box-shadow: none !important;
}
.swal-footer
{
    text-align: center;
}
.modal-content
{
  position: fixed !important;
  left: 0px;
  width: 100%;
  background: #0F2C40 !important;
  color: aqua !important;
  text-align: center;
  border-radius: 20px !important;
  border: solid 2px !important;
}
/*modals*/

/*carousels*/
.carousel-indicators
{
  position: relative !important;
  bottom: unset !important;
  margin-bottom: 5px !important;
}
/*carousels*/