/*inputs*/
.input-option-1
{
    width: 100%;
    background: #1A4A5A;
    color: aqua;
    border-radius: 10px;
    border: none;
}
.input-option-2
{
  width: 85%;
  border: none;
  border-radius: 10px;
  background: #1A4A5A;
  margin-bottom: 10px;
}
.input-option-3
{
    background: #1A4A5A;
    border: none;
    border-radius: 10px;
    color: aqua;

}
.form-control
{
    background-color: #1A4A5A !important;
    border: solid 2px #0F2C40 !important;
    border-radius: 10px !important;
    color: aqua !important;

}
.form-control::placeholder
{
    color: grey !important;
}
.form-select
{
    background-color: #1A4A5A !important;
    border: solid 2px #0F2C40 !important;
    border-radius: 10px !important;
    color: aqua !important;
    background-image: url('../../../images/icons/favicon/arrow.png') !important;

}

/*inputs*/

/*botones*/
.btn
{
    margin: 0px;
    padding: 0px;
}
.btn-option-1
{
    width: 100px !important;
    background: aqua !important;
    color: #0F2C40 !important;
    margin: 10px;
}
.btn-option-1:hover
{
    background: transparent !important;
    color: aqua !important;
    box-shadow: 1px 1px 3px 3px aqua;
}
.btn-option-2
{
    font-size: large;
    background: none;
    border: none;
    color: aqua;
    position: absolute;
    top: 0px;
    right: 0px;
}
.btn-option-3
{
    position: fixed;
    top: 0px;
    right: 5px;
    color: aqua;
    background: none;
    border: none;
    font-size: x-large;
}
.btn-option-4
{
  background: none;
  color: aqua !important;
  margin-bottom: 10px;
}
.btn-option-5
{
 cursor: pointer;

}
.back-btn
{
    position: absolute;
    left: 10px;
    color: aqua !important;
}
.history-back
{
    position: absolute;
    left: 0px;
    background: #0f2c40;
    color: aqua;
    border: none;
    height: 20px;
}
a
{
    text-decoration: none !important;
    color: aqua !important;
}
/*botones*/

/*Labels*/
.label-option-1
{
    color: aqua;
    display: block;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;

}
.label-option-2
{
    color: aqua;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    text-decoration: underline !important;

}
.label-option-3
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*Labels*/

/*span*/
.obligatory-span
{
    color: red;
}
.span-option-1
{
    background: #1A4A5A !important;
    border: none !important;
    border-right: solid grey !important;
    color: aqua !important;

}
.accordion-button::after
{
    background-image: url('../../../images/icons/favicon/arrow.png') !important;
}
.input-group-text
{
  background-color: #1A4A5A !important;
  color: aqua !important;
  border: solid 2px #0F2C40 !important;
  border-radius: 10px !important;
}
/*span*/

/*Selects*/
.select-option-1
{
  background: #1A4A5A;
  color: aqua;
  border: none;
  border-radius: 10px;
  width: 100px;
}
/*Selects*/